<!DOCTYPE html>
<html lang="ru">
<head> 
    <meta charset="UTF-8">
    <title>РВД-Сервис</title>
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
</head>

<body class="body">
    <header class="header_logo">
        <div class="header__logo">
           <img  src="img/logo.PNG" alt="РВД Сервис лого">
        </div>
        <nav class="header__navigation navigation">
            <ul class="navigation__list">
                <li class="navigation__item">
                    <a href="#" class="navigation__link">Регистрация</a></li>
                    <li class="navigation__item"> <a href="#" class="navigation_link">Вход</a>
                                <p><input type="search" name="q" placeholder="Поиск"> 
                                <input type="submit" value="Поиск"></p>
                                </li>
                         </ul>
        </nav>
        <div class="navigation__list"><a href="tel:+7(4872)58-40-59">+7(4872)58-40-59</a>
            <a href="link:info@rvd-servis.ru">info@rvd-servis.ru</a>
            <a href="#">Перезвоните мне</a>
            <ul>
            <li class="navigation__item">
                <a href="#" class="navigation__link">Каталог товаров</a>
            </li>
            <class="menu">
                <a href="#" class="navigation__link" class="navigation__item">
                    <a href="#" class="navigation__link">О компании</li>
            <li class="navigation__item">
                    <a href="#" class="navigation__link">РВД-Сервис (УСЛУГИ)</li>
            <li class="navigation__item">
                    <a href="#" class="navigation__link">Информация</li>
            <li class="navigation__item">
                    <a href="#" class="navigation__link">Контакты</li> 
                    </ul>
        </div>
    </header>
    <main class="main">
        <h1 class="visually-hidden"></h1>
        <section class="index-banner"></section>
        <a href="#" class="index-banner__link"></a>
        <div class="index-banner__description">
           <ul> <span class="index-banner__text-big">ПРОИЗВОДСТВО И РЕМОНТ</span></ul>
           <ul> <span class="index-banner__text-big">РВД ДЛЯ ГРУЗОВЫХ</span></ul>
            <ul> <span class="index-banner__text-big">АВТОМОБИЛЕЙ</span></ul>
        </div>
    </section>
    <section class="services">
            <header class="services__title custom-title">
                <h2>Наши услуги</h2>
            </header>
            <a href="#" class="services__item">
                    <span class="services__image">
                        <img src="" alt="">
                    </span>
                    <span class="services__name">РВД для легковых автомобилей</span>
                </a>
                <a href="#" class="services__item">
                    <span class="services__image">
                        <img src="" alt="">
                    </span>
                    <span class="services__name">РВД для грузовых автомобилей</span>
                </a>
                <a href="#" class="services__item">
                    <span class="services__image">
                        <img src="" alt="">
                    </span>
                    <span class="services__name">РВД для моей высокого давления</span>
                </a>
                <a href="#" class="services__item">
                    <span class="services__image">
                        <img src="" alt="">
                    </span>
                    <span class="services__name">РВД для коммунальной техники</span>
                </a>
                <a href="#" class="services__item">
                        <span class="services__image">
                            <img src="" alt="">
                        </span>
                        <span class="services__name">РВД для станков и оборудования</span>
                    </a>
                    <a href="#" class="services__item">
                            <span class="services__image">
                                <img src="" alt="">
                            </span>
                            <span class="services__name">РВД для каналопромывочных машин</span>
                        </a>
            </section>
            <div> Компания "РВД-Сервис" длительное время успешно занимается производством, 
                а также ремонтом рукавов высокого давления (РВД) и труб высокого давления (ТВД) </div>
                <div>
                    <h3><strong>Популярные товары</strong></h3>
                </div>
    </main>
   

    <script src="js/script.js"></script>
</body>
</html>