<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>РВД-Сервис</title>
    <meta name="keywords" content="РВД-сервис">
    <link rel="stylesheet" href="css/style.css">
</head>

<body class="body">
    <header class="header">
        <div class="container">
            <div class="header__top">
                <div class=“header__logo”>
                    <img src="img/logo.png" alt="РВД Сервис лого">
                </div>
                <div class="header__personal">
                    <a href="#" class="header__link header__link_registration">Регистрация</a>
                    <div class="header__separator">
                        |
                    </div>
                    <button type="button" class="header__link header__link_login">
                        <span>Вход</span>
                        <span class="header__link-img">
                            <img src="../template/img/entrance.png" alt="кнопка вход">
                        </span>
                    </button>
                </div>
                <div class="header__search">
                    <form method="POST" action="">
                        <label>
                            <button type="submit">
                                <img src="../template/img/search_.png" alt="Кнопка поиск">
                            </button>
                            <input type="search" name="search" placeholder="Поиск">
                        </label>
                    </form>
                </div>
                <div class="header__contacts">
                    <a class="header__link" href="tel:+7(4872)58-40-59">+7(4872)58-40-59</a>
                    <div class="header__separator">
                        |
                    </div>
                    <a class="header__link" href="mailto:info@rvd-servis.ru">info@rvd-servis.ru</a>
                </div>
                <button class="header__callback">
                    <span class="header__callback-img">
                        <img src="../template/img/phone.png" alt="кнопка перезвоните">
                    </span>
                    <span>Перезвоните мне</span>
                </button>
                <a href="#" class="header__basket">
                    <span class="header__basket-img">
                        <img src="../template/img/Cart.png" alt="иконка корзины">
                    </span>
                    <span class="header__basket-count">
                        <img src="../template/img/Alipse.png" alt="элипс с количеством товаров">
                        2
                    </span>
                </a>
            </div>
            <div class="header__bottom">
                <nav class="header__navigation navigation">
                    <ul class="navigation__list">
                        <li class="navigation__item navigation__item_parent">
                            <a href="#" class="navigation__link">Каталог товаров</a>
                            <ul class="navigation__sublist">
                                <li class="navigation__subitem">
                                    <a href="#" class="navigation__sublink">1</a>
                                </li>
                                <li class="navigation__subitem">
                                    <a href="#" class="navigation__sublink">1</a>
                                </li>
                                <li class="navigation__subitem">
                                    <a href="#" class="navigation__sublink">1</a>
                                </li>
                                <li class="navigation__subitem">
                                    <a href="#" class="navigation__sublink">1</a>
                                </li>
                            </ul>
                        </li>
                        <li class="navigation__item">
                            <a href="#" class="navigation__link">О компании</a>
                        </li>
                        <li class="navigation__item">
                            <a href="#" class="navigation__link">РВД-Сервис (УСЛУГИ)</a>
                        </li>
                        <li class="navigation__item">
                            <a href="#" class="navigation__link">Информация</a>
                        </li>
                        <li class="navigation__item">
                            <a href="#" class="navigation__link">Контакты</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <main class="main">
        <section class="index-banner">
            <div class="container">
                <div class="index-banner__wrap">
                    <div class="index-banner__title">
                        <h1>
                            <span>Производство и ремонт</span>
                            <span>РВД для грузовых</span>
                            <span>автомобилей</span>
                        </h1>
                    </div>
                </div>
            </div>
        </section>
        <section class="services">
            <div class="container">
                <h2 class="services__title custom-title">Наши услуги</h2>
            </div>
            <div class="container container_big">
                <div class="services__wrap">
                    <a href="#" class="services__item">
                        <span class="services__image">
                            <img src="img/passenger_cars.png" alt="для легковые автомобилей">
                        </span>
                        <span class="services__name">РВД для легковых автомобилей</span>
                    </a>
                    <a href="#" class="services__item">
                        <span class="services__image">
                            <img src="img/truck.png" alt="для грузовых автомобилей">
                        </span>
                        <span class="services__name">РВД для грузовых автомобилей</span>
                    </a>
                    <a href="#" class="services__item">
                        <span class="services__image">
                            <img src="img/washing.png" alt="для моек высокого давления">
                        </span>
                        <span class="services__name">РВД для моек высокого давления</span>
                    </a>
                    <a href="#" class="services__item">
                        <span class="services__image">
                            <img src="img/tractor.png" alt="для коммунальной техники">
                        </span>
                        <span class="services__name">РВД для коммунальной техники</span>
                    </a>
                    <a href="#" class="services__item">
                        <span class="services__image">
                            <img src="img/equipment.png" alt="для станков и оборудования">
                        </span>
                        <span class="services__name">РВД для станков и оборудования</span>
                    </a>
                    <a href="#" class="services__item">
                        <span class="services__image">
                            <img src="img/canal_flushing.png" alt="для каналопромывочных машин">
                        </span>
                        <span class="services__name">РВД для каналопромывочных машин</span>
                    </a>
                </div>
            </div>
            <div class="container">
                <div class=services__text>
                    Компания "РВД-Сервис" длительное время успешно занимается производством, а также ремонтом рукавов
                    высокого давления (РВД) и труб высокого давления (ТВД)
                </div>
            </div>
        </section>
        <section class="items-list">
            <div class="container">
                <h2 class="items-list__title custom-title">Популярные товары</h2>
                <div class="items-list__wrap">
                    <div class='items-list__card card-item'>
                        <h3 class="card-item__title">Адаптеры 201,202(BSP 60 &#176;)</h3>
                        <div class="card-item__image">
                            <img src="img/adapter1.png" alt="адаптеры 201,202-1">
                        </div>
                        <p class="card-item__property">Соединение: внешняя резьба BSPP.</p>
                        <p class="card-item__property">Тип:прямой.</p>
                        <p class="card-item__property">Уплотнение соединения:по конусу 60&#176;</p>
                        <p class="card-item__property">Соответствие нормам: ISO 8434-6</p>
                        <p class="card-item__property">Материал: сталь.</p>
                        <a href="#" class="card-item__link">
                            <span class=common-button> Подробнее&#8594;
                            </span>
                        </a>
                    </div>
                    <div class='items-list__card card-item'>
                        <h3 class="card-item__title">Героторные гидромоторы BMR</h3>
                        <img src="img/adapter2.png" alt="гидромоторы BMR">
                        <p class="card-item__property">Диапазон рабочих температур: от -30&#176;С до +90&#176;</p>
                        <p class="card-item__property">Вязкость металла: 20-75 сСт.</p>
                        <p class="card-item__property">Масло в соответствии с: ISO 20/16.</p>
                        <p class="card-item__property">Пиковая нагрузка допускается не более 0,6 сек от каждой минуты.
                        </p>
                        <a href="#" class="card-item__link">
                            <span class=common-button>Подробнее&#8594;</span>
                        </a>
                    </div>
                    <div class='items-list__card card-item'>
                        <h3 class="card-item__title">Адаптеры 201,202(BSP 60 &#176;)</h3>
                        <img src="img/adapter3.png" alt="адаптеры 201,202-2">
                        <p class="card-item__property">Материал:</p>
                        <p class="card-item__property">корпус - сталь</p>
                        <p class="card-item__property">уплотнение &#8212; NBR</p>
                        <p class="card-item__property">Диапазон рабочих температур:</p>
                        <p class="card-item__property">от -20&#176;С до +80&#176;С (NBR)</p>
                        <p class="card-item__property">от -15&#176;С до +110&#176;С (VITON)</p>
                        <p class="card-item__property">Резьба: BSPP</p>
                        <a href="#" class="card-item__link">
                            <span class=common-button> Подробнее&#8594;</span>
                        </a>
                    </div>
                    <div class='items-list__card card-item'>
                        <h3 class="card-item__title">Адаптеры 201,202(BSP 60 &#176;)</h3>
                        <img src="img/adapter4.png" alt="адаптеры 201,202-3">
                        <p class="card-item__property">Соединение: внешняя резьба BSPP</p>
                        <p class="card-item__property">Тип: прямой.</p>
                        <p class="card-item__property">Уплотнение соединения: по конусу 60&#176;C.</p>
                        <p class="card-item__property">Соответствие нормам: ISO 8434-6.</p>
                        <p class="card-item__property">Материал: сталь.</p>
                        <a href="#" class="card-item__link">
                            <span class=common-button>Подробнее&#8594;
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer class="footer">
        <div class="container">
            <div class="footer__wrap">
                <div class="footer__top">
                    <nav class="footer__navigation"> <img src="img/logo.PNG" alt="РВД Сервис лого">
                        <ul>
                            <li class="footer__item">
                                <a href="#" class="footer__link">О компании</a>
                            </li>
                            <li class="footer__item">
                                <a href="#" class="footer__link">Каталог товаров</a></li>
                            <li class="footer__item">
                                <a href="#" class="footer__link">РВД-Сервис (УСЛУГИ)</a></li>
                            <li class="footer__item">
                                <a href="#" class="footer__link">Информация</a></li>
                            <li class="footer__item">
                                <a href="#" class="footer__link">Контакты</a></li>
                        </ul>
                    </nav>
                    <div class="footer__contacts contacts">
                        <a class=footer__link href="tel:+7(4872)58-40-59">+7(4872)58-40-59</a>
                        <span class="contacts__separator">|</span>
                        <a href="info@rvd-servis.ru">info@rvd-servis.ru</a>
                    </div>
                </div>
                <div class="footer__bottom">
                    <span class="footer__copy footer__copy_uppercase">Copyright &#169; 2018 "РВД-Сервис".Все права
                        защищены</span>
                    <span class="footer__copy">
                        <span>Создание сайта</span>
                        <a href="#" target="_blank">Digital Agency Dial</a>
                        <span class="footer__icon">
                            <img src="img/dial_logo.png" alt="logo dial">
                        </span>
                    </span>
                </div>
            </div>
        </div>
    </footer>

    <div class=upstairs>
        <a href="#">
            <img src='img/upstairs.png' alt='вверх'>
        </a>
    </div>
    <script>
        // Это Javascript 
        var headerLogo = document.querySelector('.header__Logo');
        console.log('Привет');
                    // / // // headerLogo is undefined
    </script>
    <script src="js/script.js"></script>
</body>

</html>

<!-- 
    1. Проверять закрывающие и открывающие теги
 -->
<!-- 
        1. добавить обёртки для футера   __top и _bottom
        2. Для каждой обертки добавить контейнер-центровщик
        3. внутри контейнера лучше завести еще одну обертку  .footer__wrap
        4. footer__top - логотип, навигацию в футере, контакты
            footer__bottom - копирайт и создание сайта
        -->