@charset "UTF-8";
@font-face {
    font-family: "Mullerbold";
    src: url(../fonts/Mullerbold.woff);
    font-weight: 400;
    font-style: normal;
}
*,
*:before,
*:after {
    position: relative;
    box-sizing: border-box
}
html,
body {
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-width: 320px;
    font-family: "Mullerbold", "Arial", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: black;
    caret-color: #bf0000;
    background-color: #fff;
}
.header {
    width: 100%;
    padding-top: 38px;
    background-color: white;
    z-index: 11;
    position: absolute;
    left: 0;
    top: 0;
}
.container {
    max-width:1655px ;
    margin: 0 auto;
    padding: 0px 15px;
}

img {
        max-height: 100%;
        max-width: 100%;
        display: block;
}
button {
    border: none;
    background: transparent;
    cursor: pointer;
}
.services__item {
    background-color: grey;
    width: 200px;
    /* Стараться избегать фиксированных ширины и высоты, за исключением некоторых картинок и иконок. */
height: 50px;
border: 1px solid black;
display: inline-block;
list-style: none; 
}
.index-card__item-price{
display: flex;  
list-style: none; 
width: calc(100%/4);
height: 250px;
/* Стараться избегать фиксированных ширины и высоты, за исключением некоторых картинок и иконок. */
align-items: center;
flex-direction: column;
justify-content: space-between;
}
.index-banner {
    min-height: 800px;
    max-width: 900px;
    text-transform: uppercase
}
.container_big {
    max-width: 1920px;
}
.navigation__sublist {
  
    text-decoration: none; 
    color: #666; 
    border: 1px solid #ccc;
    background-color: #f0f0f0; 
    border-bottom: none; 
}
.navigation__item_parent:hover {
  
    display:block;
  
}
